<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="icon" href="/images/logo_small_icon_only_inverted.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>


<header>
  <!-- navbar-dark bg-transparent -->
<!-- nav -->
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo_small.png" alt="" width="90" height="70">
      </a>
  <div class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="/accueil"><i class="fad fa-home"></i><br>Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  href="/samHabille"><i class="fad fa-tshirt"></i><br>Sam'Habille</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/samChausse"><i class="fad fa-boot"></i><br>Sam'Chausse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/samAmuse"><i class="fad fa-gamepad"></i><br>Sam'Amuse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/samLocale"><i class="fad fa-gem"></i><br>Sam'Locale</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
  
<div class="welcome">

    <h1>Bienvenue sur Sam'Tente</h1>

 <h3>Le site numéro 1 de l'E-commence de la Caraïbe</h3>

</div>

</header>
<main>
<h2>Découvrez notre sélection de produits</h2>
  <!--  carousel --> 
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/derniere tendance (2).jpg" class="d-block w-100" alt="Vêtements cintrés">
        <div class="carousel-caption d-none d-md-block">
          <h5>Dernière Tendance</h5>
          <p>Profitez de nos derniers arrivage</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/vetement homme.jpg" class="d-block w-100" alt="Vêtements homme">
        <div class="carousel-caption d-none d-md-block">
          <h5>Le style à son importance</h5>
          <p> Retrouver tous vos produits favoris</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/vêtements femme.jpg" class="d-block w-100" alt="Vêtements femme">
        <div class="carousel-caption d-none d-md-block">
          <h5>Le coeur à ses raisons que la tendance ignore</h5>
          <p>Derniers arrivage</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/toys.jpg" class="d-block w-100" alt="Jouet">
        <div class="carousel-caption d-none d-md-block">
          <h5>Vers l'infini et au-delà</h5>
          <p>Stock disponible des dernièrs console</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/ring.jpg" class="d-block w-100" alt="roulot de fil à coudre ">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bijoux d'artisanat</h5>
          <p>Collections Automnal</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <!--  carousel --> 

    <!-- card employer -->
    <h2> Qui sommes-nous ?</h2>
    <div class="container">
      <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb">
              <img src="/images/ceo2.jpg" alt="PDG">
              <!-- Social Info-->
              <div class="social-info">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6>Samanta Williams</h6>
              <p class="designation">Fondatrice et PDG</p>
            </div>
          </div>
        </div>
  
  
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb">
              <img src="/images/dg2.jpg" alt="Directrice Générale">
              <!-- Social Info-->
              <div class="social-info">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6>Carolina Sanchez</h6>
              <p class="designation">Directrice Générale</p>
            </div>
          </div>
        </div>
  
  
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb">
              <img src="/images/directrice financier2.jpg" alt= "Directrice financier">
              <!-- Social Info-->
              <div class="social-info">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6>Laura Riner</h6>
              <p class="designation">Directrice financier</p>
            </div>
          </div>
        </div>
  
  
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <!-- Team Thumb-->
            <div class="advisor_thumb">
              <img src="/images/admin2.jpg" alt="Administratrice">
              <!-- Social Info-->
              <div class="social-info">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6>Emma Silva</h6>
              <p class="designation">Administratrice</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <p class="lorem">Sam'Tente est une jeune entreprise qui pense à la planète . Nous sommes engager dans la lutte du réchauffement climatique. Tous nos produits so éco-responsable.</p>
      </div>
    
   <!-- card employer -->

 <!-- contact us -->


<h2> Chez Sam'Tente </h2>

<div class="cards">
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Livraison</h3>
          <p>Profitez de livraion gratuite à partir de 50€ d'achat.</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2></h2>
          <h3> Paiement</h3>
          <p>Vous profitez de plusieurs moyen de paiment en ligne . Payez en 4 fois sans frais à partir de 100€. </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Contactez-nous</h3>
          <p>Vous souhaitez nous rejoindre. Veuillez cliquez sur le liens en bas de page. </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  </div> 
  
  
<p class="lorem">Sam'Tente vous propose un service de qualité. Si vous n'êtes pas satisfaits de votre commande le retour de vos produit entièrement gratuit sous 14 jours.Le remboursemment de ce derniers se fera dès la reception de votre colis dans nos locaux.</p>
  

<a id="link" href="/samHabille">
  <h4>Cliquez ici pour accédez à l'espace shop ></h4>
</a>

  
</div>
</div>


<!-- contact us -->
</main>

<!-- Footer -->
<footer class="bg- text-center text-white ">
      
  <div class="container p-4 ">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/twitterfrance?lang=fr" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"> 
        <i class="fab fa-instagram"></i>
      </a>

     
    <!-- Section: Social media -->

    <!-- Section: Liens -->
    <section class="mt-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Service Client</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Livraison</a>
            </li>
            <li>
              <a href="#!" class="text-white">Aide</a>
            </li>
            <li>
              <a href="#!" class="text-white">Suivi de commande</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contactez-nous</a>
            </li>
          </ul>
        </div>
        <!-- colonne 2-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Informations</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Conditions générales d'utilisation</a>
            </li>
            <li>
              <a href="#!" class="text-white">Condition de Livraison</a>
            </li>
            <li>
              <a href="#!" class="text-white">Politique de protection des données personnelles</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Paiement sécurisé</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <i class="fab fa-paypal"></i>
            </li>
            <li>
              <i class="fab fa-apple-pay"></i>
            </li>
            <li>
              <i class="fab fa-cc-mastercard"></i>
            </li>
            <li>
              <i class="fab fa-cc-visa"></i>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">En savoir plus</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Qui sommes-nous?</a>
            </li>
            <li>
              <a href="#!" class="text-white">Recrutement</a>
            </li>
            <li>
              <a href="#!" class="text-white">Développement durable</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->
      </div>
      
    </section>
    <!-- Section: Liens -->
  </div>
   <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: samtente.com, Inc. ou ses filiales.
    
  </div>
  <!-- Copyright -->
</footer>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin ="anonymous" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin ="anonymous" ></script>
</body>
</html>