*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;   
}

body
{
    background:linear-gradient(black,rgb(77, 76, 76), rgb(0, 0, 0)); 
  
}

/* nav */
.navbar
{
    background-color: black;
    font-size: 15px;
   
}
/* nav */

/* modal body */
.modal-body
{
    background-color: rgba(252, 252, 252, 0.479);
    justify-content: center;
   
}
.card-modal
{
    display: flex; 
    justify-content:center ;
    padding: 10px; 
    background-color:#d6d4d2;
    border-radius: 15px;
    width: 350px;
}
/* modal body */

/* nav2 */

.navbar2
{
    background-color: rgba(0, 0, 0, 0.911);
    font-size: 17px;
}

.collapse
{
    justify-content: center;

}
/* nav2 */

/* card articles */

.card-articles
{
    display: flex;
    justify-content: center;
    background-color:rgba(248, 246, 246, 0.315) ;
    border-radius: 15px;
    height: 600px;
    width: 650px;
    padding: 15px; 
    margin-bottom: 40px;
    margin-top: 40px;
    
}

.card-couleurs
{
    display: flex;
    justify-content: center;
    background-color:rgba(248, 246, 246, 0.315) ;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    padding: 15px; 
    margin-bottom: 40px;
    margin-top: 40px;
}
/* card articles */

.btn
{
   margin-bottom: 50px;
   
}

.btn:hover 
{
    color: #b89a82 ;
}

a 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover 
{
    color: #b89a82 ;
}

.form-inline
{
    padding: 30px;  
}

footer
{
    background-color: black;
}