*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;   
}
body
{
    background:linear-gradient(black,rgb(77, 76, 76), rgb(0, 0, 0)); 
  
}
.navbar
{
    background-color: black;
    font-size: 15px;
   
}

.form-inline
{
    padding: 30px;  
}
/* modal body */
.modal-body
{
    background-color: rgba(26, 26, 26, 0.972);
    justify-content: center;
   
}
.card-modal
{
    display: flex; 
    justify-content:center ;
    padding: 10px; 
    background-color:#d6d4d2;
    border-radius: 15px;
    width: 350px;
}

.card-modal2
{
    border-radius: 10px;
    color: white;
    background-color: rgb(190, 187, 187);
    width: 330px;
    
}

.btn{
    text-decoration: none;
    color: white;
}

/* modal body */

.navbar2
{
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 17px;
}

.collapse
{
    justify-content: center;

}
.card
{
    display: flex;
    background-color:#b89a82;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    /* padding: 10px;  */
    margin: 30px;
    
      
}

.card-img-top{
    height: 400px;
    border-radius: 15px;
}

 .card-body
 {
    display: flex-wrap;
    justify-content:center;
    flex-direction: row;
    font-size: 20px;
    
}

.card-title
{
    padding: 20px;
}

a 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover 
{
    color: #b89a82 ;
}

.form-inline
{
    padding: 30px;  
}

footer
{
    background-color: black;
}

.btn:hover 
{
    color: #b89a82 ;
}