*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;   
}

body
{
    background:linear-gradient(black,rgb(77, 76, 76), rgb(0, 0, 0)); 
  
}
.navbar
{
    background-color: black;
    font-size: 15px;
   
}

/* modal body */
.modal-body
{
    background-color: rgba(252, 252, 252, 0.479);
    justify-content: center;
   
} 
.card-modal
{
    display: flex; 
    justify-content:center ;
    padding: 10px; 
    background-color:#d6d4d2;
    border-radius: 15px;
    width: 350px;
}
/* modal body */

/* nav2 */

.navbar2
{
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 17px;
}

.collapse
{
    justify-content: center;

}

.form-inline
{
    padding: 30px;  
}
/* nav2 */

.modal-body
{
    background-color: rgba(0, 0, 0, 0.253);
    justify-content: center;
}

.card
{
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.432) ;
}

main
{   
    height: 100vh;
    padding:100px;
    color: white;
}
h1
{
    margin-bottom: 80px;
}

.table
{
    background-color: rgb(144, 144, 144);
}

.form-outline
{
    width: 100px;
}

img.produit
{
    height: 60px;
    width: 60px;
}
a 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    color: white;
    font-size: 20px;
}
a:hover 
{
    color: #b89a82 ;
}

footer
{
    background-color: black;
}

.btn:hover 
{
    color: #b89a82 ;
}